/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.connect-co-success {
    border: 1px solid #0c8a08;
    border-left: 3px solid #0c8a08;
    padding: 5px;
    background-color: #d2f5d8;
    margin: 10px 0px 2px;
}

.connect-co-error {
    border: 1px solid #f90909;
    border-left: 3px solid #f90909;
    padding: 5px;
    background-color: #f1cece;
    margin: 10px 0px 2px;
}

.connect-co-info {
    border: 1px solid #023151;
    border-left: 3px solid #023151;
    padding: 5px;
    background-color: #daedff;
    margin: 10px 0px 2px;
}

.connect-co-container {
    border: 2px double #023151;
    padding: 5px;
    background-color: #ffe262;
}

.connect-co-container label {
    font-weight: bold;
}

ul.connect-co-error-items {
    list-style-type: none;
    line-height: 1.1;
    padding: 0;
    margin: 0;

}

.connect-co-delivery-cost {
    border: 1px solid #023151;
    padding: 5px;
    background-color: #023151;
    text-align: center;
    font-size: larger;
    margin-top: 10px;
    color: #ffdd36;
}

.cc-list-view-submit {
    border: 1px solid #023151;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffdd36;
}

.cc-list-view-pending {
    border: 1px solid #023151;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #787f84;
}